.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.map {
  background-image: url("./road.png");
  height: 700px;
  width: 80%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.car {
  width: 200px;
}

@keyframes move {
  from {
    left: 20px;
  }
  to {
    left: 1500px;
  }
}