
    input[type=text],input[type=number] {
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 50px;
      resize: vertical;
      outline: none;
      color: #964700;
    }

    .col-25 {
      float: left;
      width: 25%;
      margin: 10px;
    }

    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
      text-shadow: 2px 2px 8px #FF0000;
      color: #964700;
    }

  body {
    position: relative;
    text-align: center;
    align-content: center;
    background: #171717;
  }
  button {
         margin: 20px;
         outline: none;
         color: #fff;

  }
  div {
    padding: 5px;
  }
  ::placeholder {
    color: #DA0037;
  }

  .mybutton{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    width: 130px;
    height: 40px;
    line-height: 40px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .mybutton span {
    background-color: #F05454;
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    border: 2px solid #DA0037;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: bordfffer-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .mybutton span:nth-child(1) {
      box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .mybutton span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .mybutton:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .mybutton:hover span:nth-child(2) {
    background: #DA0037;
    color: #DA0037;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  input {
    padding: 10px;
    background: transparent;
    border: inset;
    border-color: #444444;
    color: #DA0037;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }